<section class="">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 float-left">
            <div class="center text-center">


                <img src="assets/dataconnector.png">

            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 float-left">
            <div [formGroup]='loginForm'>
                <div class="center text-center ">
                    <mat-card>
                        <mat-card-title class="mat-card-title">Login </mat-card-title>
                        <mat-card-content>
                            <div>
                                <mat-form-field appearance='outline'>
                                    <mat-label>user Name</mat-label>
                                    <input matInput formControlName='username'
                                        [ngClass]="{'is-invalid': f.username.invalid && (f.username.dirty || f.username.touched) && f.username.errors }">
                                    <mat-error *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                                        <mat-error class="has-error" *ngIf="f.username.errors.required">User Name is
                                            Required</mat-error>

                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field appearance='outline'>
                                <mat-label> Password</mat-label>
                                <input matInput formControlName='password' [type]="hide ? 'password' : 'text'"
                                    [ngClass]="{'is-invalid':f.password.invalid && (f.password.touched || f.password.dirty) && f.password.errors }">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                                </mat-icon>

                                <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                                    <mat-error class="has-error" *ngIf="f.password.errors.required">Password is
                                        Required</mat-error>

                                </mat-error>
                            </mat-form-field>

                        </mat-card-content>


                        <button mat-button mat-flat-button color="primary" [disabled]="f.invalid"
                            (click)="navigateToDataConnector()">Submit</button>

                        <div class="errorMsg" *ngIf="showError">{{errorMsg}}</div>
                        <div class="links">
                            <span class="signUplinks"> <a href="#">Forgot Password</a></span>
                            <span class="signUplinks"> <a href="#">Sign Up</a></span>
                        </div>
                    </mat-card>
                </div>
            </div>

        </div>
    </div>

</section>