// .mat-form-field{
//     width:100%;
// }

// .validation-message {
//   color: red;
//   position: absolute;
//   width: 100%;
//   height: 1em;
//   margin-top: 5px;
  
//   line-height: 1em;
//   font-size: 0.857em;
//   text-align: left;
// }

// .parama{
//  font-weight: 600;
//     font-size: 20px;
//     width: 90%;
//     float: left;
//     text-align: center;
// }
//  .mat-stepper-horizontal {
//   margin-top: 8px;
// }
// .mat-color{
//   background-color: green;
// }
// .mat-form-field {
//   margin-top: 16px;
// }
// .cursor{
//   cursor: pointer;
// }
// .center{
//   text-align: center;
// }
// .top{
//   margin-top: 200px;
// }
// table {
//   width: 100%;
// }
// .green{
//   background: green;
//   color: white;
// }
// .blue{
//   background:#0070ba;
//   color: white;
// }
// .link{
//   color:blue;
//   text-decoration: underline;
//   margin: 0;
// }


// .test {
//     word-break: break-word;
//     max-width: 70%;
// }

// .mat-form-field-label-wrapper{
//   display: none !important;
// }
// .mat-form-field{
//   margin:0 !important;
//    width: 90% !important;
// }
// .mat-form-field-appearance-legacy .mat-form-field-infix {
//     width: 100%;
//     border: 0 !important;
//     padding: 0 !important; 
// }

// tr.mat-header-row {
//  height: 0;
//     background: #80aec5 !important;
//     font-weight: 600;
// }
//  tr:nth-child(even) {
//             background: #f2f2f2
//         }

//         tr:nth-child(odd) {
//             background: #fafafa
//         }

//         /* Structure */
// table {
//   width: 100%;
// }

// .mat-form-field {
//   font-size: 14px;
//   width: 50%;
// }

// td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
//  font-size: 12px !important;
//  font: inherit;
//     color: rgba(0,0,0,.54);
// }
// ::-webkit-input-placeholder { /* Edge */
//   font-size: 12px !important;
// }

// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//   font-size: 12px !important;
// }

// ::placeholder {
//  font-size: 11px !important;
//  font: inherit;
//     color: rgba(0,0,0,.54);
// }
 







// .mat-form-field{
//     width:100%;
// }

// .validation-message {
//   color: red;
//   position: absolute;
//   width: 100%;
//   height: 1em;
//   margin-top: 5px;
  
//   line-height: 1em;
//   font-size: 0.857em;
//   text-align: left;
// }

// .parama{
//  font-weight: 600;
//     font-size: 20px;
//     width: 90%;
//     float: left;
//     text-align: center;
// }
//  .mat-stepper-horizontal {
//   margin-top: 8px;
// }
// .mat-color{
//   background-color: green;
// }
// .mat-form-field {
//   margin-top: 16px;
// }
// .cursor{
//   cursor: pointer;
// }
// .center{
//   text-align: center;
// }
// .top{
//   margin-top: 200px;
// }
// table {
//   width: 100%;
// }
// .green{
//   background: green;
//   color: white;
// }
// .blue{
//   background:#0070ba;
//   color: white;
// }
// .link{
//   color:blue;
//   text-decoration: underline;
//   margin: 0;
// }


// .test {
//     word-break: break-word;
//     max-width: 70%;
// }

// .mat-form-field-label-wrapper{
//   display: none !important;
// }
// .mat-form-field{
//   margin:0 !important;
//    width: 90% !important;
// }
// .mat-form-field-appearance-legacy .mat-form-field-infix {
//     width: 100%;
//     border: 0 !important;
//     padding: 0 !important; 
// }

// tr.mat-header-row {
//  height: 0;
//     background: #f2f2f2 !important;
//     font-weight: 600;
// }
//  tr:nth-child(even) {
//             background: #f2f2f2
//         }

//         tr:nth-child(odd) {
//             background: #fafafa
//         }

//         /* Structure */
// table {
//   width: 100%;
// }

// .mat-form-field {
//   font-size: 14px;
//   width: 50%;
// }

// td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
//  font-size: 12px !important;
//  font: inherit;
//     color: rgba(0,0,0,.54);
// }
// ::-webkit-input-placeholder { /* Edge */
//   font-size: 12px !important;
// }

// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//   font-size: 12px !important;
// }

// ::placeholder {
//  font-size: 11px !important;
//  font: inherit;
//     color: rgba(0,0,0,.54);
// }
//  .customcss{.fa{
//   padding: 0 10px;
// }}




 .mat-stepper-horizontal {
  margin-top: 8px;
}
.mat-color{
  background-color: green;
}
.mat-form-field {
  margin-top: 16px;
}
.cursor{
  cursor: pointer;
}
.center{
  text-align: center;
}
.top{
  margin-top: 200px;
}
table {
  width: 100%;
}
.green{
  background: green;
  color: white;
}
.blue{
  background:#0070ba;
  color: white;
}

.link{
  color:blue;
  text-decoration: underline;
  margin: 0;
}

.test {
    word-break: break-word;
    max-width: 70%;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 100%;
    border: 0 !important;
    padding: 0 !important; 
}
.mat-form-field-label-wrapper{
  display: none !important;
}
.mat-form-field{
  margin:0 !important;
   width: 90% !important;
}
#jobsscheduler{
  margin-top:2%;
}

tr.mat-header-row {
 height: 0;
    background:  #A5C6D7 !important;
    font-weight: 600;
    color: #fff;
     box-shadow: 6px 14px 24px #898989 !important;
}
 tr:nth-child(even) {
            background: #f2f2f2
        }

        tr:nth-child(odd) {
            background: #fafafa
        }

        /* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}
#dataconnectTable{
  margin-top:2%;
}
input{
  color:#fff;
}

 .parama{
 font-weight: 600;
    font-size: 20px;
    width: 90%;
    float: left;
    text-align: center;
}
::placeholder {
 font-size: 11px !important;
 font: inherit;
    color: rgba(0,0,0,.54);
}
input {
    /* color: #fff; */
    color: #000;
}

.customfa{
     margin: 0 10px;

}
.stop{
  color:red;
}
.pause{
 color:blue;
}
.play{
  color:green;
}





















