<div class="col-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 ">
    <div class="col-lg-10 col-md-10 col-xs-10 mx-auto">
        <div id="output"></div>
        <div class="row justify-content-center">
        </div>
        <div class="row">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 mt-3 ">

                <p class="parama">List of Jobs</p>
                <img src="assets/excel-download.png" class="float-right mr-2 exportIcon" (click)="exportTable()">
                <i class="float-right mr-2 fa fa-plus addIcon" (click)="openDialog('Add',{})"></i>
            </div>
        </div>
        <table id="jobsscheduler" mat-table [dataSource]="dataSource" matSort #mytable class="customdatatable"
            matSortDirection="asc" matSortDisableClear>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> S.NO</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('id')">
                    </mat-form-field>

                </th>
                <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="jobname">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Job Name</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('jobname')">
                    </mat-form-field>

                </th>
                <td mat-cell *matCellDef="let element">
                    <p class="link"> {{element.jobname}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="Starttime">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Start Time</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" [matMenuTriggerFor]="menu1" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('createdon')">
                    </mat-form-field>
                    <mat-menu #menu1 class="custondrpdwn1">
                        <ng-template matMenuContent>
                            <div class="date-block" [formGroup]="filterForm">
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="fromDate" placeholder="From Date"
                                            formControlName="fromDate1">
                                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="toDate" placeholder="To Date"
                                            formControlName="toDate1">
                                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                        <mat-datepicker #toDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <button mat-button color="primary" class="primary"
                                    (click)="setUpDateFilter1('updatedon')">Submit</button>
                                <button mat-button color="primary" class="primary" (click)="resetForm1()">Reset</button>
                            </div>
                        </ng-template>
                    </mat-menu>

                </th>
                <td mat-cell *matCellDef="let element"> {{element.Starttime | date: 'short'}} </td>
            </ng-container>


            <ng-container matColumnDef="nextrunon">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Next Run On</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" [matMenuTriggerFor]="menu" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('updatedon')">
                    </mat-form-field>

                    <mat-menu #menu class="custondrpdwn">
                        <ng-template matMenuContent>
                            <div class="date-block" [formGroup]="filterForm">
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="fromDate" placeholder="From Date"
                                            formControlName="fromDate">
                                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="toDate" placeholder="To Date"
                                            formControlName="toDate">
                                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                        <mat-datepicker #toDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <button mat-button color="primary" class="primary"
                                    (click)="setUpDateFilter('updatedon')">Submit</button>
                                <button mat-button color="primary" class="primary" (click)="resetForm()">Reset</button>
                            </div>
                        </ng-template>
                    </mat-menu>

                </th>
                <td mat-cell *matCellDef="let element"> {{element.nextrunon | date: 'short'}} </td>
            </ng-container>


            <ng-container matColumnDef="createdby">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Created By</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('name')">
                    </mat-form-field>

                </th>
                <td mat-cell *matCellDef="let element"> {{element.createdby}} </td>
            </ng-container>


            <ng-container matColumnDef="pause">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span> </span>
                    </div>
                </th>
                <td class="customcss" mat-cell *matCellDef="let element"><span
                        style="color: #333;">{{ element.status }}</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span> Status</span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button *ngIf="element.status === 'scheduled'"
                        (click)="action('pause', element.uniqueId)" style="color: #333;">
                        <mat-icon aria-label="pause">pause</mat-icon>
                    </button>

                    <button mat-icon-button *ngIf="element.status === 'pause'"
                        (click)="action('scheduled', element.uniqueId)" style="color: #333;">
                        <span class="material-icons">
                            play_arrow
                        </span>

                    </button>
                    <button mat-icon-button [ngStyle]="{'color':'#B22222'}" (click)="action('',element.uniqueId)"
                        *ngIf="element.status === 'pause'">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>

                </td>
            </ng-container>




            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element; let j = index;" class="action-link">

                    <button mat-icon-button [ngStyle]="{'color':'#ff6200'}" (click)="openDialog('Update',element)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button> |
                    <button mat-icon-button [ngStyle]="{'color':'#B22222'}" (click)="openDialog('Delete',element)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <div *ngIf="dataSource.data.length === 0" class="no-records">
            <p>No Records Found</p>
        </div>
        <!-- <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons></mat-paginator> -->



    </div>