<div class="col-sm-12 col-xl-12 col-lg-12 col-md-12 col-xs-12">
    <div class="col-lg-10 col-md-10 col-xs-10 mx-auto">
        <div id="output"></div>
        <div class="row justify-content-center">
        </div>
        <div class="row">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 mt-3 ">

                <p class="parama">List of Data Points</p>
                <img src="assets/excel-download.png" class="float-right mr-2 exportIcon" (click)="exportTable()">
                <i class="float-right mr-2 fa fa-plus addIcon" (click)="openDialog('Add',{})"></i>
            </div>
        </div>
        <table id="dataconnectTable" mat-table [dataSource]="dataSource" matSort #mytable class="customdatatable">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header disableClear (click)="sorted()"> S. NO</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('id')">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}} </td>
            </ng-container>


            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Name</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('name')">
                    </mat-form-field>

                </th>
                <td mat-cell *matCellDef="let element">
                    <p class="link" (click)="openDialog('Update',element)">{{element.name}}</p>
                </td>
            </ng-container>


            <ng-container matColumnDef="InBound">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> InBound / OutBound</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('InBound')">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.InBound}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">

                        <span mat-sort-header (click)="sorted()"> Type</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('type')">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="createdby">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">

                        <span mat-sort-header (click)="sorted()"> Created By</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('createdby')">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.createdby}}</td>
            </ng-container>

            <ng-container matColumnDef="createdon">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Created On</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" [matMenuTriggerFor]="menu1" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('createdon')">
                    </mat-form-field>
                    <mat-menu #menu1 class="custondrpdwn">
                        <ng-template matMenuContent>
                            <div class="date-block" [formGroup]="filterForm">
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input #frominput matInput [matDatepicker]="fromDate" placeholder="From Date"
                                            formControlName="fromDate1">
                                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDate disabled="false"></mat-datepicker>

                                    </mat-form-field>
                                </div>
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input #toinput matInput [matDatepicker]="toDate" placeholder="To Date"
                                            formControlName="toDate1">
                                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                        <mat-datepicker #toDate disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <button mat-button color="primary" class="primary"
                                    (click)="setUpDateFilter1('updatedon')">Submit</button>
                                <button mat-button color="primary" class="primary" (click)="resetForm1()">Reset</button>



                            </div>
                        </ng-template>
                    </mat-menu>

                </th>
                <td mat-cell *matCellDef="let element"> {{element.createdon | date: 'short'}}</td>
            </ng-container>

            <ng-container matColumnDef="updatedby">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Updated By</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('updatedby')">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element">{{element.updatedby}} </td>
            </ng-container>

            <ng-container matColumnDef="updatedon">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex">
                        <span mat-sort-header (click)="sorted()"> Updated On</span>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-field" [matMenuTriggerFor]="menu" placeholder="Filter..."
                            (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('updatedon')">
                    </mat-form-field>

                    <mat-menu #menu class="custondrpdwn">
                        <ng-template matMenuContent>
                            <div class="date-block" [formGroup]="filterForm">
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="fromDate" placeholder="From Date"
                                            formControlName="fromDate">
                                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="date-block__list">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="toDate" placeholder="To Date"
                                            formControlName="toDate">
                                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                        <mat-datepicker #toDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <button mat-button color="primary" class="primary"
                                    (click)="setUpDateFilter('updatedon')">Submit</button>
                                <button mat-button color="primary" class="primary" (click)="reset()">Reset</button>


                            </div>
                        </ng-template>
                    </mat-menu>

                </th>
                <td mat-cell *matCellDef="let element"> {{element.updatedon | date: 'short'}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element; let j = index;" class="action-link">
                    <button mat-icon-button [ngStyle]="{'color':'#B22222'}" (click)="openDialog('Delete',element)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                    <button style="width:60px; background:orange; color:#fff">Test</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div *ngIf="dataSource.data.length === 0" class="no-records">
            <p>No Records Found</p>
        </div>

    </div>
</div>