  
 

.card{
    width: 50%;
    margin: 50px;
}
.row{
        padding: 0px;
    margin: 20px;
}


.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mat-form-field {
    width: 87%;
    display: inline-block;
    position: relative;
    text-align: left;
}


button{
     background: transparent;
    border: 0;
    color: #fff;
    outline: none;
 }
 

.defaultWrapper {
    background: #fff;
	margin:20px 0;
}
.display-center #box-shadow-object{
 background-color: rgb(47, 85, 151);
}
#box-shadow-object {
  width:200px;
    height: 130px;
    border-radius: 21px;
    box-shadow: rgb(0, 0, 0) 22px 10px 51px -14px;
    background-color: rgb(46, 117, 182);
    margin: 30px;
    cursor: pointer;
    float: left;
}
 
#copy-text-input{
  top: 35px;
    position: relative;
    background: transparent;
    display: block;
    margin: 0 auto;
    line-height: 26px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    font-size: 18px;
}
 @media(min-width:769px) and (max-width:1200px){
    #box-shadow-object {
        width:149px;
    }
    #copy-text-input{
        font-size: 16px;
    }
 }
 @media(max-width:767px){
     .w-75{
         width: 100% !important;
     }
 }
 @media(min-width:768px) and (max-width:925px){
    #box-shadow-object {
        width:114px;
    }
    #copy-text-input{
        font-size: 14px;
    }
 }