<div class="d-flex justify-content-center align-items-center">
    <mat-card class="card">


        <div class="row ">

            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let data of connectionType" [value]="data.value">
                        {{data.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>URL</mat-label>
                <input matInput placeholder="http://....">
            </mat-form-field>

        </div>

    </mat-card>

</div>