
@media(min-width: 768px){
.data-header{
     background: #0070ba;
     width:100%;
     height: 75px;
     color:#fff;
     display: flex;
}
.navbar-wrapper {
    width: 970px;
    margin: 0 auto;
    height: 75px;
}


.data-header__logo{
    max-width:88px;
}
.logo-wraper img{
    width: 150px;
}
.data-header-wrapper{ 
  .mat-button{
      padding:20px;
      outline: none;
  }
  


}
.active{
    background: #fff;
    color:#0070ba;
}


}